body {

    display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
    background: #b0fcf1;

}

p {
    width: 300px;
    margin: 0 auto;
}


h2 {
    text-align: center;
   	color:#330584;
   	font-size: 45px;
   	font-style: normal
}

h1 {

	text-align: center;
  	color: #20074d;

}



